<template>

    <!-- <b-container class="bv-example-row"> -->
        <b-form>
             <b-row class="mt-1">
                <b-col><h3>Change password</h3></b-col> 
            </b-row>
            <b-row>
                <b-col cols="4">
                    <b-form-group label="Old Password" 
                        label-for="oldPassword" 
                         :invalid-feedback="errorMessage('oldpassword')" >  
                        <b-form-input
                            id="oldPassword"
                            type="password"
                            placeholder=""
                            v-model="form.oldPassword"
                            ref="oldPassword">
                        </b-form-input>

                    </b-form-group>
                </b-col>
                <b-col cols="4"></b-col>
            </b-row> 

            <b-row>
                <b-col cols="4">
                    <b-form-group label="New Password" 
                        label-for="newPassword"
                        :invalid-feedback="errorMessage('password')" >  
                        <b-form-input
                            id="newPassword"
                            type="password"
                            placeholder=""
                            v-model="form.newPassword"
                            ref="newPassword">
                        </b-form-input>

                    </b-form-group>
                </b-col>
                <b-col cols="4"></b-col>
            </b-row>

            <b-row>
                <b-col cols="4">
                    <b-form-group label="Confirm Password" 
                        label-for="confirmPassword"
                        :invalid-feedback="errorMessage('confirm_password')">  
                        <b-form-input
                            id="confirmPassword"
                            type="password"
                            placeholder=""
                            v-model="form.confirmPassword"
                            ref="confirmPassword">
                        </b-form-input>

                    </b-form-group>
                </b-col>
                <b-col cols="4"></b-col>
            </b-row>

            <b-row>
                <b-col cols="4">
                    <b-button size="lg" 
                        variant="primary" 
                        class="save-button" 
                        @click="updatePassword" 
                        :block="true" >Update
                    </b-button> 
                </b-col>
                <b-col cols="4"></b-col> 
            </b-row>
        </b-form> 

    <!-- </b-container> -->
   
    
</template>

<script>
    import { mapState } from "vuex";
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.min.css'; 

    Vue.use(Loading);

    export default {
        name: "Settings",

        data() {
            return {
                form: {
                    oldPassword: null,
                    newPassword: null,
                    confirmPassword: null
                }, 
            };
        },

        computed: {
            ...mapState("settings", ["errors"])
        },

        methods: {
            updatePassword: async function() {
                this.$store.commit("settings/setDetails", this.form);
                await this.$store
                .dispatch("settings/updateDetails")
                .then(() => {
                    if(this.errors == null) {
                        this.form = {
                            oldPassword: null,
                            newPassword: null,
                            confirmPassword: null
                        } 
                    }
                });  
            }, 

            errorMessage(field) {  
                if (this.errors == null) {
                    return "";
                }                 
                return this.errors.errors[field];
            },

            logout: function(){ 
                axios.get('/logout')
                .then(function (response) { 
                    console.log(response);
                })
                .catch(function (error) { 
                    console.log(error);
                });
            }
        }
    }
</script>
