<template>

</template>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.min.css';

    import notification from '../services/notification.js';
    Vue.use(Loading);

    export default {
        mounted() { 
            var vm = this;
            vm.HandleCheckBoxEvent(vm);
        },
        methods: {
            HandleCheckBoxEvent: function(vm) {
                $(document).on('change', '.chk-permissions', function() {

                    var checkedObj = $(this);
                    var id = checkedObj.data('id');
                    var permissionType = checkedObj.data('permission');


                    var value = 0;
                    if (checkedObj.is(':checked')) {
                        value = 1;
                    }

                    var formData = new FormData();
                    formData.append('permission', permissionType);
                    formData.append('value', value);
                    formData.append('id', id);

                    vm.UpdatePermission(formData);

                });
            },

            UpdatePermission: function(formData) {
                let loader = this.$loading.show(); 
                axios.post('/permissions/updatePermission', formData).then(function(response) {
                    if (response.data.success) {
                        loader.hide();
                    } 
                    notification.successModal("Permission updated.");
                }.bind(this)).catch(function(error) {
                    console.log(error);
                }.bind(this));
            }
        }
    }
</script>
