<template>
 
        <b-form>
             <b-row class="mt-1">
                <b-col><h3>Update Profile</h3></b-col> 
            </b-row>
            <b-row>
                <b-col cols="4">
                    <b-form-group label="Name" 
                        label-for="name" 
                         :invalid-feedback="errorMessage('name')" >  
                        <b-form-input
                            id="name"
                            type="text"
                            placeholder=""
                            v-model="form.name" 
                            ref="name">
                        </b-form-input> 
                    </b-form-group>
                </b-col>
                <b-col cols="4"></b-col>
            </b-row> 
             
            <b-row>
                <b-col cols="4"> 
                    <b-button size="lg" 
                        variant="primary" 
                        class="save-button" 
                        @click="updateUser" 
                        :block="true" >Update
                    </b-button>  
                </b-col> 
            </b-row>
        </b-form>   
</template>

<script>
    import { mapState } from "vuex";
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.min.css'; 

    Vue.use(Loading);

    export default {
        name: "Profile",
        props: [
            "user_data"
        ],
        data() {
            return {
                form: {
                    name: null, 
                    id: this.user_data.id
                }, 
            };
        },

        created(){ 
            this.form.name = this.user_data.name;
            this.form.id = this.user_data.id;
        },

        computed: {
            ...mapState("users", ["errors"]) 
        },

        methods: {
            updateUser: async function() {
                this.$store.commit("users/setDetails", this.form);
                await this.$store
                .dispatch("users/updateDetails")
                .then(() => { 
                    if(this.errors == null) {
                
                    }
                });  
            }, 

            errorMessage(field) {  
                if (this.errors == null) {
                    return "";
                }                 
                return this.errors.errors[field];
            },

          
        }
    }
</script>
